<!DOCTYPE html>
<html>


  <nav>
  <a class="logo-box">
    <figure class="logo"><div></div></figure>
    <div class="logo-title">NeTrailer and Chill</div>
  </a>
</nav>
<header>
  <section class="intro-background"></section>
  <article class="intro-heading">
    <center><h1>NeTrailer</h1>
    <figure class="logo-heading"><div></div></figure>
  </article>
</header>
  <body>
    <link rel="stylesheet" href="css/style.css">
  <section class="intro"></section>
<a href="/SelectedComedy"><button class="button" style="vertical-align:middle"><span>Comedy</span></button></a>
        <a href="/SelectedAction"><button class="button" style="vertical-align:middle"><span>Action</span></button></a>
        <a href="/SelectedHorror"><button class="button" style="vertical-align:middle"><span>Horror</span></button></a>
        <a href="/SelectedDrama"><button class="button" style="vertical-align:middle"><span>Drama</span></button></a>
    
  </body>
<!-- old version -->
<!--
  <head>
      
        Icon from favicon.cc and used under Creative Commons from: https://www.favicon.cc/?action=icon&file_id=877514
        <link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAD///8AR2cAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEREREREREREREREREREREREREAAAAREREREREAEREREREREQARERERERERABEREREREREAEREREREREQARERERERERABEREREREREAEREREREBEQAREBEREQARABEAERERAAEAEAAREREAAAAAABEREREREREREREREREREREREAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA" rel="icon" type="image/x-icon" />
    <title>headings</title>
    </head>
   <body>
      
        <h1>NeTrailer</h1>


        <link rel="stylesheet" href="css/style.css">

        <iframe width="560" height="315" src="https://www.youtube.com/embed/NaILbbTdilk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>hello</iframe>

        <h2>Animated Button</h2>


        <a href="/SelectedComedy"><button class="button" style="vertical-align:middle"><span>Comedy</span></button></a>
        <a href="/SelectedAction"><button class="button" style="vertical-align:middle"><span>Action</span></button></a>
        <a href="/SelectedHorror"><button class="button" style="vertical-align:middle"><span>Horror</span></button></a>
        <a href="/SelectedDrama"><button class="button" style="vertical-align:middle"><span>Drama</span></button></a>
    </body>
>>>>>>>>> local version
-->
</html>