<!DOCTYPE html>
<html>

  <head>
    <title>headings</title>
   <body>
      
      <h1>NeTrailer</h1>


<link rel="stylesheet" href="style.css">

<iframe width="560" height="315" src="https://www.youtube.com/embed/NaILbbTdilk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>hello</iframe>

<h2>Animated Button</h2>


<button class="button" style="vertical-align:middle"><span>Comedy</span></button>
<button class="button" style="vertical-align:middle"><span>Action</span></button>
<button class="button" style="vertical-align:middle"><span>Fantasy</span></button>
<button class="button" style="vertical-align:middle"><span>Thriller</span></button>
</body>

    <head>
        <!-- Icon from favicon.cc and used under Creative Commons from: https://www.favicon.cc/?action=icon&file_id=877514 -->
        <link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAD///8AR2cAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEREREREREREREREREREREREREAAAAREREREREAEREREREREQARERERERERABEREREREREAEREREREREQARERERERERABEREREREREAEREREREBEQAREBEREQARABEAERERAAEAEAAREREAAAAAABEREREREREREREREREREREREAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA" rel="icon" type="image/x-icon" />
        <link rel="stylesheet" href="css/style.css">
        <title>neTrailer</title>
    </head>
    <body>
         <button class="button" type="button">Click Me!</button> 
    </body>

</html>