<!DOCTYPE html>
<html>
<div class="container">
  <nav>
  <a class="logo-box">
    <figure class="logo"><div></div></figure>
    <div class="logo-title">Dumb and Dumber</div>
  </a>
</nav>
<link rel="stylesheet" href="css/style2.css">
  <div class="grid content" ><h3>
    <div style="position:absolute; left:670px; top:100px;">
    <strong>Watch the Trailer here:</strong>
 </h3>
   <iframe width="760" height="315" src="https://www.youtube.com/embed/MSu25pQ4iFw" frameborder="1" allow="autoplay; encrypted-media" allowfullscreen></iframe><br>
        <a href="/#"><button class="button">Back</button></a></div>
        <div class="grid footer">
    <div style="padding-bottom:0px;">
      <strong>Movie Avaliable On:</strong>
    </div><br>
    <a href="https://watch.amazon.com/detail?asin=B001T9WIB0">
<img style="padding-right:50px;" alt="Amazon Prime Video" src="https://upload.wikimedia.org/wikipedia/commons/8/85/Amazon-Video.svg" width="200" height="100">
   
    <a href="https://www.vudu.com/content/movies/details/title/12413">
<img style="padding-right:100px;" border="0" alt="Vudu" src="https://upload.wikimedia.org/wikipedia/commons/e/ef/Vudu_2014_logo.svg" width="200" height="100">
    
    <a href="https://itunes.apple.com/us/movie/dumb-and-dumber/id295196713">
<img style="padding-right:100px;" border="0" alt="iTunes" src="https://upload.wikimedia.org/wikipedia/commons/d/df/ITunes_logo.svg" width="100" height="100">
    
    <a href="https://www.youtube.com/watch?v=sefrRvy1kmU">
<img style="padding-right:100px;" alt="Youtube" src="http://www.stickpng.com/assets/images/580b57fcd9996e24bc43c545.png" width="100" height="100">

      <a href="https://play.google.com/store/movies/details?id=sefrRvy1kmU">
<img style="padding-right:100px;" alt="Google Play Movies & TV" src="https://cdn.freebiesupply.com/logos/large/2x/google-play-movies-tv-logo-png-transparent.png" width="100" height="100"></div></a>
</html>