<!DOCTYPE html>
<html>
    <head>
        <title>Dumb & Dumber</title>
    </head>
    <body>
        <h1>
            Dumb and Dumber (1994)
        </h1>
        <p id ="MovieID">
           Dumb and Dumber is a comedy movie released in 1994 starring Jim Carrey as Lloyd Christmas and Jeff Daniels as Harry Dunne
        </p>
        
        <p>
            Lloyd finds a briefcase left by Mary Swanson (Lauren Holly) at the airport and thinks she lost it and go to Aspen, CO in order to return it to what they believe is the rightful owner.
        </p>
        <h3>
            Watch the Trailer here:
        </h3>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/MSu25pQ4iFw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe><br>
        <a href="/#"><button> Back </button></a>
        
        <h2> Available to watch here:</h2>
        
        <a href="https://watch.amazon.com/detail?asin=B001T9WIB0">
<img border="0" alt="Amazon Prime Video" src="https://upload.wikimedia.org/wikipedia/commons/8/85/Amazon-Video.svg" width="100" height="100">
   
    <a href="https://www.vudu.com/content/movies/details/title/12413">
<img border="0" alt="Vudu" src="https://upload.wikimedia.org/wikipedia/commons/e/ef/Vudu_2014_logo.svg" width="100" height="100">
    
    <a href="https://itunes.apple.com/us/movie/dumb-and-dumber/id295196713">
<img border="0" alt="iTunes" src="https://upload.wikimedia.org/wikipedia/commons/d/df/ITunes_logo.svg" width="100" height="100">
    
    <a href="https://www.youtube.com/watch?v=sefrRvy1kmU">
<img border="0" alt="Youtube" src="http://www.stickpng.com/assets/images/580b57fcd9996e24bc43c545.png" width="100" height="100">
    
    <a href="https://play.google.com/store/movies/details?id=sefrRvy1kmU">
<img border="0" alt="Google Play Movies & TV" src="https://cdn.freebiesupply.com/logos/large/2x/google-play-movies-tv-logo-png-transparent.png" width="100" height="100">

    </body>
    
    
</html>
