<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Pathway+Gothic+One" rel="stylesheet"> 
        <link rel="stylesheet" href="css/help.css">
        <title>
            About
        </title>

    </head>
    <body>
        <p>
            NeTrailer is a web service dedicated to helping you find your next movie to watch. 
            Currently, the movies are handpicked by the developers and all movies that pop up are in a random order.
            There is currently 5 moves per genre and we have linked where you can watch the movies on the lower part of the screen.
        </p><br>
<p> 
    Made By: Erfan Arsala, Erik Gallardo, Guillermo Flores, & Zaheem Smith
</p><br>
        <a href="/#"><button class="back_btn"style="vertical-align:middle">Back</button></a><br>
    </body>
</html>