<!DOCTYPE html>
    <html>
        <head>
            <title>
                Movies
            </title>
        </head>
        <body>
            
        <a href="/SelectedComedy"><button class="btn" style="vertical-align:middle"><span>Comedy</span></button></a>
        <a href="/SelectedAction"><button class="btn" style="vertical-align:middle"><span>Action</span></button></a>
        <a href="/SelectedHorror"><button class="btn" style="vertical-align:middle"><span>Horror</span></button></a>
        <a href="/SelectedDrama"><button class="btn" style="vertical-align:middle"><span>Drama</span></button></a>
        
        </body>
        <footer>
            
        </footer>
    </html>

 