@import url('https://fonts.googleapis.com/css?family=Kanit');


body {
  background: black;
  animation: color-change 10s linear 2s infinite;
}

p {
  color: #fff;
  font-family: 'Kanit', sans-serif;
  font-weight: 300;
  font-size: 24px;
}

@keyframes color-change {
  0%, 100% { background: black; }
  20%      { background: red;  }  
}

  .back_btn {
    animation:color-change 10s linear 2s infinite;
    position: relative;
    background-color: black;
    border: none;
    font-size: 28px;
    color: white;
    padding: 20px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

/*.back_btn:after {*/
/*    content: "";*/
/*    background: #f1f1f1;*/
/*    display: block;*/
/*    position: absolute;*/
/*    padding-top: 300%;*/
/*    padding-left: 350%;*/
/*    margin-left: -20px !important;*/
/*    margin-top: -120%;*/
/*    opacity: 0;*/
/*    transition: all 0.8s*/
/*}*/

/*.back_btn:active:after {*/
/*    padding: 0;*/
/*    margin: 0;*/
/*    opacity: 1;*/
/*    transition: 0s*/
/*}*/

