body {
	overflow-x: hidden;
	overflow-style: none;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.logocon {
    font-family: 'Comfortaa', cursive;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background: black;
	animation: color 10s linear infinite;
	user-select: none;
	position: absolute;
	z-index: 3;
}

.menu {
	position: absolute;
	z-index: 2;
	width: 100vw;
	height: 50px;
	background: rgba(0,0,0,0.85);
	color: #ccc;
	text-align: center;
	line-height: 50px;
font-family: 'Comfortaa', cursive;
    
}



.logo {
font-family: 'Comfortaa', cursive;
font-size: 100px;
color: #fff;
	cursor: default;
}

.hint {
    position: absolute;
	z-index: 4;
	bottom: 10vh;
	width: 100vw;
	text-align: center;
	color: rgba(255,255,255,0.6);
    font-family: 'Comfortaa', cursive;
}

@keyframes color-change {
  0%, 100% { background: black; }
  25%      { background: gray;  }  
}

.content {
	position: relative;
	top: 20vh;
	height: 200vh;
	font: 16px Ubuntu;
	animation: color-change 10s linear infinite;
}


@keyframes color {
  0%, 100% { background: black; }
  25%      { background: red;  }  
}
.button
{
    font-size: 70px;
    height:180px;
    width: 460px;
    color: white;
    background-color: red;
    padding: 0px;
    border-radius: 50px;
    display: inline-block;
    text-align: center;
    border: none;
    text-shadow: 7px 7px 7px black;
}
.button:hover
{
    animation: pulse-animation .4s alternate infinite;
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.4s ease 0s;
}
@keyframes pulse-animation {
  0%   {transform: scale(.7);}
  100% {transform: scale(1.0);}
}

.revert_btn {

    border: none;
    color: white;
    padding: 12px 30px;
    text-align: center;
    float: right;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	background: rgba(0,0,0,0.85);
}
.abt_btn
{
   
    border: none;
    color: white;
    padding: 12px 30px;
    text-align: center;
    float: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	background: rgba(0,0,0,0.85); 
}
.heading{
    width: 100%;
    height: 100%;
	animation: color 10s linear infinite;
    font-family: 'Comfortaa', cursive;
    color:white;
}
.about_btns {
    margin-top: 1500px;
    border-radius: 15px 50px;
    background: black;
    padding: 20px;
    width: 200px;
    height: 150px;
    color: white;
    font-family: 'Comfortaa', cursive;
    font-size: x-large;
  transition: 0.7s;
  margin-right: 100px;
}

.about_btns:hover {
  background-color: red;
  color: black;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #333;
}

.container {
  position: relative;
  width: 24px;
  height: 24px;
}

.chevron {
    margin-left: 50%;
    position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
  
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}


@keyframes pulse {
  to {
    opacity: 1;
  }
}